<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary" style="background-color: #6262e1 !important;">
  <!-- Container wrapper -->
  <div class="container-fluid">
      <!-- Toggle button -->
      <button data-mdb-collapse-init class="navbar-toggler" type="button"
          data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Navbar brand -->
          <a class="navbar-brand mt-2 mt-lg-0" href="#">
              E-commerce App
          </a>
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" href="#">Dashboard</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Team</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Projects</a>
              </li>
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle redHover fw-semibold text-uppercase text-black  me-1"
                    href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa fa-user fs-5 me-1" style="color: #202122;"></i>
                </a>
                <ul class="dropdown-menu" style="left:-50px" aria-labelledby="navbarDropdown">
                    <li>
                        <div class="d-flex justify-content-evenly mt-2">
                            <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                aria-controls="offcanvasRight"> <button
                                    class="btn btn-danger rounded-0 px-3">Login</button></a>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"> <button
                                    class="btn btn-danger rounded-0 px-3">Register</button></a>
                        </div>

                    </li>

                </ul>
            </li> -->
          </ul>
          
          <!-- Left links -->
      </div>
      <button class="btn btn-success mt-2">Login</button>
      <button class="btn btn-success mt-2" (click)="openRegisterModel()">Register</button>
      <!-- Collapsible wrapper -->

      <!-- Right elements -->
      <!-- <div class="d-flex align-items-center">
          
          <a class="link-secondary me-3" href="#">
              <i class="fa fa-shopping-cart"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-end show" style="position: absolute;
          right: 13px;top:60px" aria-labelledby="navbarDropdownMenuAvatar">
              <div class="row">
                  <div class="col-8">
                      <h6>Cart Items</h6>
                  </div>
                  <div class="col-4 text-end">
                      <i class="fa fa-close p-2"></i>
                  </div>
              </div>


              <table class="table table-sm">
                  <tbody>
                      <tr>
                          <td>
                              <div class="rounded"
                                  style="background-image: url(https://unsplash.com/photos/ZBwQ2bCbJjw/download?force=true&amp;w=640); width: 60px; height: 60px; background-size: cover;">
                              </div>
                          </td>
                          <td class="align-middle text-left">Spy Suit</td>
                          <td class="align-middle text-center">1 pieces</td>
                          <td class="align-middle text-right">$698</td>
                          <td class="align-middle text-center">
                              <a href="#delete" data-toggle="modal" data-title="Delete your product ?">
                                  <i class="fa fa-trash"></i>
                              </a>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div class="rounded"
                                  style="background-image: url(https://unsplash.com/photos/ZBwQ2bCbJjw/download?force=true&amp;w=640); width: 60px; height: 60px; background-size: cover;">
                              </div>
                          </td>
                          <td class="align-middle text-left">Spy Suit</td>
                          <td class="align-middle text-center">1 pieces</td>
                          <td class="align-middle text-right">$698</td>
                          <td class="align-middle text-center">
                              <a href="#delete" data-toggle="modal" data-title="Delete your product ?">
                                  <i class="fa fa-trash"></i>
                              </a>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div class="rounded"
                                  style="background-image: url(https://unsplash.com/photos/ZBwQ2bCbJjw/download?force=true&amp;w=640); width: 60px; height: 60px; background-size: cover;">
                              </div>
                          </td>
                          <td class="align-middle text-left">Spy Suit</td>
                          <td class="align-middle text-center">1 pieces</td>
                          <td class="align-middle text-right">$698</td>
                          <td class="align-middle text-center">
                              <a href="#delete" data-toggle="modal" data-title="Delete your product ?">
                                  <i class="fa fa-trash"></i>
                              </a>
                          </td>
                      </tr>

                      <tr>
                          <td colspan="4" class="align-middle text-right">Quantity</td>
                          <td class="align-middle text-right">55</td>
                      </tr>
                      <tr>
                          <td colspan="4" class="align-middle text-right">Total</td>
                          <td class="align-middle text-right">3600</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div> -->
  </div>
</nav>
<div class="modal" id="myId" #registerModel>
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Register</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
         <div class="row">
            <div class="col-12">
                <label for="">Name</label>
                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-12">
                <label for="">Mobile Number</label>
                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-12">
                <label for="">password</label>
                <input type="text" name="" id="" class="form-control">
            </div>
         </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="saveRegister()">Register</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeRegister()">Close</button>
        </div>
  
      </div>
    </div>
  </div>
<router-outlet />
